        ../../../.gitconfig
        ../../../.gk/
        ../../../.lesshst
        ../../../.redhat/
        ../../../.ssh/
        ../../../.viminfo
        ../../../.vscode/
        ../../../AppData/
        ../../../Contacts/
        ../../
        ../../../Documents/
        ../../../Downloads/
        ../../../Favorites/
        ../../../IntelGraphicsProfiles/
        ../../../Links/
        ../../../Music/
        ../../../NTUSER.DAT
        ../../../NTUSER.DAT{e8358108-580f-11ef-8d1d-2cdb07f8609b}.TM.blf
        ../../../NTUSER.DAT{e8358108-580f-11ef-8d1d-2cdb07f8609b}.TMContainer00000000000000000001.regtrans-ms
        ../../../NTUSER.DAT{e8358108-580f-11ef-8d1d-2cdb07f8609b}.TMContainer00000000000000000002.regtrans-ms
        ../../../OneDrive/
        ../../../Pictures/
        ../../../Saved Games/
        ../../../Searches/
        ../../../Videos/
        ../../../ntuser.dat.LOG1
        ../../../ntuser.dat.LOG2
        ../../../ntuser.ini
        ../../../vscode-remote-wsl/